/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */


/* to specify all <div> elements should have padding and border included in
the element's total width and height*/

* {
  box-sizing: border-box;
}

*:visited {
  color: #23f900;
}

#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#input {
    margin: 15px 0 5px 20px;
    width: 75%;
    height: 34px;
    font-size: 16px;
    font-family: helvetica, sans-serif;
    color: #00e755;
    border: none;
    -webkit-box-shadow: 2px 2px 5px #737373;
    outline: none;
}


#search-box {
    top: 50%;
    position: absolute;
    z-index: 3;
}

#search-nav {
    width: 120%;
    max-height: 549px;
    background-color: #d9d9d9;
    border: solid 2px #737373;
    overflow: hidden;
}
